#common
python-dotenv
xlsxwriter
xlrd==1
openpyxl

#s3
boto3

#calculate
numpy
scipy
hyperopt

#ml
ppscore
statsmodels
sklearn
# https://github.com/spotify/annoy
annoy
# https://github.com/lmcinnes/umap
umap-learn
shap
lightautoml
evidently

#transform
pandas

#plot
matplotlib
seaborn
plotly>=5
plotly-express

#viz
tqdm
jupyterthemes
dash

#jupyter
jupyterlab>=3

#backend
psycopg2-binary
Flask
sqlalchemy
